<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.atom.wyz.worldwind">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--android:allowBackup="true"-->
    <application
            android:name="com.atom.wyz.App"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize">
        <activity android:name="com.atom.wyz.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.atom.wyz.math.CartesianActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.base.BasicWorldWindActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.dynamic.OmnidirectionalSensorActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.dynamic.OmnidirectionalSensor2Activity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.shape.EllipseFragment"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.changelookat.CameraControlActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.changelookat.CameraViewActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.changelookat.LookAtViewActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.base.DayNightCycleActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.layer.WcsElevationFragment"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.math.ShowTessellationActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.base.SurfaceImageActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.layer.WmsLayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.pick.PlacemarksActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.pick.Placemarks2Activity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.pick.PlacemarksStressTestActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.base.BasicPerformanceBenchmarkActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.changelookat.NavigatorEventActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.pick.PlacemarksSelectDragActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.pick.PlacemarksPickingActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.math.BasicStressTestActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.pick.PlacemarksDraggerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.pick.PlacemarksDragger2Activity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.math.TextureStressTestActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.pick.PlacemarksDemoActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.base.BasicGlobeActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.shape.PathsExampleActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.shape.PathsActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.shape.PolygonsActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.shape.PathsAndPolygonsActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.changewindow.MultiGlobeActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.shape.LabelsFragment"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.shape.ShapesDashAndFillFragment"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.layer.WtmsLayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.layer.TiandituLayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.layer.Tianditu2LayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.layer.Tianditu3LayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.layer.Tianditu4LayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.layer.GoogleLayerActivity"
                android:theme="@style/AppTheme">
        </activity>

    </application>

</manifest>