<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.atom.wyz.worldwind">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--android:allowBackup="true"-->
    <application
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize">
        <activity android:name="com.atom.wyz.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.atom.wyz.CartesianActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.BasicWorldWindActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.OmnidirectionalSensorActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.OmnidirectionalSensor2Activity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.EllipseFragment"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.CameraControlActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.CameraViewActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.LookAtViewActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.DayNightCycleActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.WcsElevationFragment"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.ShowTessellationActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.SurfaceImageActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.WmsLayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.PlacemarksActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.Placemarks2Activity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.PlacemarksStressTestActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.base.BasicPerformanceBenchmarkActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.NavigatorEventActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.PlacemarksSelectDragActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.PlacemarksPickingActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.BasicStressTestActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.PlacemarksDraggerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.PlacemarksDragger2Activity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.TextureStressTestActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.PlacemarksDemoActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.base.BasicGlobeActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.PathsExampleActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.PathsActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.PolygonsActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.PathsAndPolygonsActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.MultiGlobeActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.LabelsFragment"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.ShapesDashAndFillFragment"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.WtmsLayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.TiandituLayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.Tianditu2LayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.Tianditu3LayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.Tianditu4LayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="com.atom.wyz.GoogleLayerActivity"
                android:theme="@style/AppTheme">
        </activity>

    </application>

</manifest>