<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.atom.wyz.worldwind">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--android:allowBackup="true"-->
    <application
            android:name=".App"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize">
        <activity android:name=".app.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.CartesianActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.BasicWorldWindActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.OmnidirectionalSensorActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.OmnidirectionalSensor2Activity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.EllipseFragment"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.CameraControlActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.CameraViewActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.LookAtViewActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.DayNightCycleActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.WcsElevationFragment"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.ShowTessellationActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.SurfaceImageActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.WmsLayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.PlacemarksActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.Placemarks2Activity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.PlacemarksStressTestActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.BasicPerformanceBenchmarkActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.NavigatorEventActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.PlacemarksSelectDragActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.PlacemarksPickingActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.BasicStressTestActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.PlacemarksDraggerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.PlacemarksDragger2Activity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.TextureStressTestActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.PlacemarksDemoActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.BasicGlobeActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.PathsExampleActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.PathsActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.PolygonsActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.PathsAndPolygonsActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.MultiGlobeActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.LabelsFragment"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.ShapesDashAndFillFragment"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.ZipActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.WtmsLayerActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.BasicTextureWorldWindActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".app.BasicGlobe2Activity"
                android:theme="@style/AppTheme">
        </activity>

    </application>

</manifest>